.origin-container {
    background-color: #E1EFCA;
    padding: 40px;
    margin: 10px;
}

.origin-container > h1 {
    border-bottom: 1px solid black;
}

.origin-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 40px
}

.origin-text {
    grid-column: 1/2;
    font-size: 20px;
}

.coffee-collage {
    margin-top: -20px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.coffee-collage > img {
    width: 500px;
    height: auto;
}

/* Media Queries */

@media (max-width: 995px) {
    .coffee-collage>img {
        width: 350px;
        height: auto;
    }
}

@media (max-width: 800px) {

    .origin-main {
        display: flex;
        flex-direction: column;
    }

    .origin-text {
        font-size: 16px;
    }

    .origin-container > h1 {
        font-size: 28px;
    }

    .origin-text > h3 {
        font-size: 24px;
    }

    .coffee-collage > img {
        width: 220px;
        height: auto;
    }

    .coffee-collage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

}

@media (max-width: 650px) {

    .coffee-collage>img {
            width: 160px;
            height: auto;
        }   
}
